<div class="container">
  <div class="col-md-12">
    <div class="row">

      <br/>
      <br/>
      <br/>
      <br/>
      <br/>

    <div class="col-md-3">

    </div>

  <div class="col-md-6">
    <div class="aler alert-info">
      <br/>
      <center>
      <h1>👇Please Sign In Here👇</h1>
      <br/>
      <%= form_tag sessions_path do %>
       <div class="form-group">
            <%= label_tag :email %>
            <%= email_field_tag :email,'', class: 'form-control' %>
       </div>
       <div class="form-group">
            <%= label_tag :password %>
            <%= password_field_tag :password,'', class: 'form-control' %>
       </div>
       <br/>
       <div class="grow">
       <span style="color:white;">
            <%= submit_tag 'Sign In YO', class: 'btn btn-priamry' %>
            <% end %>
       </span>
       </div>
       <br/>
       <br/>
      </center>
    </div>
  </div>

    <div class="col-md-3">
    </div>

    </div>
  </div>
</div>
