<div id="post_show_view" class="container-fluid">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">

      <center><h1 class="pfont titletext"><%= @post.title %></h1></center>
      <br>
      <img src="<%= asset_path( 'img15.jpg' ) %>" class="img-responsive img-rounded blogimg"/>
      <%= link_to image_tag(@post.image.url(:medium)), post_path(@post) %>
        <div class="container-fluid">

          <% like = @post.likes.find_by(user: current_user) %>

          <div class="likesign pull-left">
            <% if user_signed_in? %>
              <% if like.present? %>
              <%= link_to fa_icon('rocket'), post_like_path(@post, like), method: :delete %>
              <% else %>
                <%= link_to fa_icon("plane"), post_likes_path(@post), method: :post %>
              <% end %>
            <% end %>
          </div>
          <span class="pfont pull-left" style="font-size: 25px;">&nbsp&nbsp<%= pluralize(@post.likes.count, 'Like') %></span>





        <span class="glyphicon glyphicon-bookmark pull-right grow" style="color: SkyBlue; font-size: 25px;" aria-hidden="true"></span>
        </div>
          <div class="alert alert-info">
          <center><p style="font-size: 15px; font-weight: bold;"><%= @post.body %></p></center>
          <hr>
          <p>Arthur: <strong><%= @post.user.full_name.titleize %></strong></p>
          <p>Post Created On:<%= @post.created_at %></p>
          </div>

          <hr>
            <% if can? :edit, @post %>
            <div class="pull-left grow pfont" style="color: skyblue; font-weight: bold;">
            <%= button_to 'Edit', edit_post_path(@post), :method => :get %>
          </div>
            <% end %>

            <% if can? :destroy, @post %>
            <div class="pull-right grow pfont" style="color: skyblue; font-weight: bold;">
            <%= button_to "Delete", post_path(@post), :method => :delete, data: { confirm: 'Are you freakin sure?🤔' } %>
          </div>
              <% end  %>

              <br>
              <br>


      </div>

      <div class="col-md-4">


        <hr>

        <center><h2 class="pfont titletext" style="width: 35%;">Reviews</h2></center>

              <%= form_for [@post, @review] do |f| %>
              <% if !user_signed_in? %>
                <hr>
                <center><p style="font-weight: bold; font-size: 20px; text-shadow: 1px 1px 2px white, 0 0 25px red, 0 0 10px red;">✍️Please Sign Up or Log In to Write Reviews</p></center>
              <% end %>

              <% if user_signed_in? %>
                <center><%= f.text_area :body , size: "45%x5%", class:'blog_input'%></center>
                <br/>
                  <center>
                  <span class="pfont" style="color:white;"><%= f.submit 'Create Review',class:'btn btn-priamry' %></style>
                  <% end %>
                  </center>
              <% end %>

              <hr />
              <div id="reviewmsg">
              <% @post.reviews.order(created_at: :desc).each do |review| %>

                <center><p style="font-size: 20px; font-weight:bold; color: blue;"><%= review.body %></p></center>
                <br>
                <p>Author: <%= review.user.full_name.titleize %></p>
                <p><%= review.created_at %></p>

                <center>
                Do
                <div class="glow pfont" style="color: skyblue; font-weight: bold;">
                <%= button_to "Delete", post_review_path(@post, review), :method => :delete, data: { confirm: 'Are you freakin sure?🤔' } %>
              </div>
                <% end  %>
              </center>
                <hr/>
              <% end %>
              </div>
              </div>
    </div>
  </div>
</div>
