<div id="post_show_view" class="container-fluid">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">

      <center><h1><%= @post.title %></h1></center>
      <br>
      <img src="<%= asset_path( 'img15.jpg' ) %>" class="img-responsive img-rounded blogimg"/>
        <div class="container-fluid">
        <span class="fa fa-plane grow pull-left" style="color: SkyBlue; font-size: 30px;" aria-hidden="true">
        <span style="color:black; font-size: 30px; font-weight: bold;">483</span></span><span class="glyphicon glyphicon-bookmark pull-right grow" style="color: SkyBlue; font-size: 30px;" aria-hidden="true"></span>
        </div>
          <div class="alert alert-info">
          <p class="mb-1"><%= @post.body %></p>
          <p>Arthur: <%= @post.user.full_name %></p>
          <p>Post Created On:<%= @post.created_at %></p>
          </div>

          <hr>

          <% if can? :edit, @post %>
          <%= link_to 'Edit', edit_post_path(@post) %>
          <% end %>

          <% if can? :destroy, @post %>
          <%= link_to 'Delete', post_path(@post),
                                method: :delete,
                                data: { confirm: 'Are you freakin sure?🤔' } %>
            <% end  %>


      </div>

      <div class="col-md-4">


        <hr>

        <h2>Reviews</h2>



              <%= @review.errors.full_messages.join(', ') %>
              <%# action=/questions/:question_id/answers %>
              <%= form_for [@post, @review] do |f| %>
                <%= f.text_area :body , size: "45%x5%", class:'blog_input'%>
                <br/>
                <%= f.submit %>
              <% end %>

              <hr />
              <div id="reviewmsg">
              <% @post.reviews.order(created_at: :desc).each do |review| %>

                <h3>
                  <div class="blog_input"><%= review.body %></div>
                  </h3>


                <p>Author: <%= review.user.full_name %></p>
                <p><%= review.created_at %></p>


                <% if can? :destroy, @post %>
                <%= link_to 'Delete', post_review_path(@post,review),
                                      method: :delete,
                                      data: { confirm: 'Are you freakin sure?🤔' } %>
                <% end  %>
                <hr />
              <% end %>
              </div>
              </div>
    </div>
  </div>
</div>
